html, body{height: 100%; width: 100%;}
body{font-family:'Roboto', sans-serif; background: #f1f1f1; font-weight: 400;}
body a{text-decoration: none !important;}
body strong{font-weight: 700;}

.center_icons_home{position: relative; width: 100%; height: 100%;}
.icons_home{text-align: center; z-index: 1; left:0; right:0; margin-left: auto; margin-right: auto; height: 155px; position: absolute; top: 50%; margin-top: -77px;}
.icons_home > a{display: inline-block; width: 128px; margin: 0 70px; text-align: center; color:#999; font-size: 18px; font-weight:700; padding-top: 135px;}

.icons_home .usuarios_menu{background: url("../imagens/usuariosOn.png") center top no-repeat;}
.icons_home .usuarios_menu:hover{background: url("../imagens/usuariosHover.png") center top no-repeat;}

.icons_home .produtos_menu{background: url("../imagens/produtosOn.png") center top no-repeat;}
.icons_home .produtos_menu:hover{background: url("../imagens/produtosHover.png") center top no-repeat;}

.icons_home .compras_menu{background: url("../imagens/comprasOn.png") center top no-repeat;}
.icons_home .compras_menu:hover{background: url("../imagens/comprasHover.png") center top no-repeat;}

.logout_sist{position: relative; width: 100%;}
.logout_sist > h1{left: 15px; top: 8px; font-size: 22px; color:#42a3f4; font-weight: 500; font-style: italic; position: absolute; z-index: 2;}
.logout_sist > a{padding: 5px 25px; color:#fff; font-size: 18px; font-weight: 500; background:#42a3f4; display: block; position: absolute; z-index: 2; right:15px; top:15px;}
.logout_sist > a:hover{background: #999;}


/*Páginas*/
.dems_paginas{padding-top: 80px;}
.title_pages{font-size: 17px; color:#888; margin-bottom:20px; padding: 0px;}
.bots_returns_pgs{padding: 0px; margin-bottom: 20px;}
.bots_returns_pgs > a{padding: 8px 25px; color:#fff; font-size: 15px; font-weight: 500; background:#42a3f4; float:left; margin-right: 15px;}
.bots_returns_pgs > a:hover{background: #999;}
.listagem_elementos{padding: 12px 0 12px 0; background: #fff; margin-bottom: 10px; -moz-box-shadow: 0px 0px 5px #ccc; -webkit-box-shadow: 0px 0px 5px #ccc; box-shadow: 0px 0px 5px #ccc;}
.listagem_elementos .textinfo{font-size: 14px; color:#777; margin-top: 4px;}
.listagem_elementos .botacoes{text-align: center; padding: 0px;}
.listagem_elementos .botacoes > a{width: 24px; height: 24px; margin: 2px 12px 0 12px; display: inline-block;}

.listcomimagem .imageinfo{margin-top: 4px;}
.listcomimagem .textinfo{margin-top: 31px;}
.listcomimagem .botacoes > a{margin-top:29px;}

.listcomimagem2span .imageinfo{margin-top: 4px;}
.listcomimagem2span .textinfo{margin-top: 22px;}
.listcomimagem2span .textinfo > span{display: block;}

.botacoes .editar{background: url("../imagens/editOn.png") no-repeat;}
.botacoes .editar:hover{background: url("../imagens/editHover.png") no-repeat;}
.botacoes .deletar{background: url("../imagens/deleteOn.png") no-repeat;}
.botacoes .deletar:hover{background: url("../imagens/deleteHover.png") no-repeat;}
.paddleft{padding-left: 10px !important;}
.paddright{padding-right: 10px !important;}
.form_acoes{padding:0px;}
.form_acoes > label{padding: 0px; margin-bottom: 15px;}
.form_acoes > label > span{display: block; font-size: 14px; color:#42a3f4; margin-bottom: 2px;}
.form_acoes .inpttxt_form{padding: 8px; color:#666; border:1px solid #ddd; font-size:14px; background: #fff;}
.bot_sendform{padding: 0px; text-align: right;}
.bot_sendform > input{padding: 7px 25px; color:#fff; cursor: pointer; border:none; font-size: 18px; font-weight: 500; background:#42a3f4;}
.bot_sendform > input:hover{background: #999;}

.totaldevedor{padding: 0px; text-align: right; margin-top: 8px; color:#888; font-size: 17px; margin-bottom: 100px;}
.totaldevedor > strong{font-weight: 700; font-size: 22px; color:#42a3f4;}

.filtro_compras{padding: 0px; margin: 10px 0 15px 0;}
.filtro_compras > label{padding: 0 15px 0 0;}
.filtro_compras > label > select{border:1px solid #ddd; font-size: 14px; padding: 6px; color:#777;}
.bot_filtro_compras{padding: 0px;}
.bot_filtro_compras > input{background: #42a3f4; font-size: 14px; color:#fff; font-weight: 500; border:0; display: block; padding: 7px 15px; margin-top: 1px;}
.bot_filtro_compras > input:hover{background: #999;s}
/*Páginas*/



@media(min-width:993px) and (max-width:1200px){

}

@media(min-width:769px) and (max-width:992px){

}

@media(max-width:767px){

}

@media (max-width:479px){

}