body{font-family:'Roboto', sans-serif; background: #d9dbda;}
.center_box_login{margin-top:10%;}
.box_login{background: #fff; padding: 0 0 40px 0;}

.top_login_blue{
	height: 130px;
	background:#42a3f4;
	-webkit-border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
}

.top_login_blue{text-align: center; padding: 0px; padding-top: 30px;}
.top_login_blue span{display: block; font-size: 25px; font-weight: 500; color: #fff; margin-bottom: 10px;}
.top_login_blue img{display: block; margin: 0 auto;}

.form_login_center{margin-top: 40px; padding: 0px 25px 0 25px;}
.form_login_center label{display: block; margin-bottom: 20px; padding: 0px;}
.form_login_center label > input{background: #f5f7f6; padding: 10px; color: #666; font-size: 14px; border: 1px solid #eee;}

.return_login_center{display: none; padding: 0px; margin-bottom: 0px; margin-top: 10px; font-size: 14px; color: #888; font-weight: 500;}
.return_login_center > div{margin:0px; padding:10px;}

.bot_login_center{padding: 0px; margin-top: 10px;}
.bot_login_center > input{background:#42a3f4; border: none; padding: 8px 0px; text-align: center; color: #fff;}

@media(min-width:993px) and (max-width:1200px){
    .center_box_login{margin-top:15%;}
}

@media(min-width:769px) and (max-width:992px){
    .center_box_login{margin-top:20%;}
}

@media(max-width:767px){
    .center_box_login{margin-top:25%;}
}

@media(max-width:479px) {
    .center_box_login{margin-top:30%;}
}