<div class="dems_paginas" ng-init="inicial()">
    <div class="container">
        <div class="row">   
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="bots_returns_pgs col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a href="#/home" class="radius5">PÁGINA INICIAL</a>
                    <a ng-click="inicial()" class="radius5">LISTAR TODOS</a>
                    <a ng-click="inserir()" class="radius5">INSERIR NOVO</a>
                </div>
                
                <div ng-show="estado.listar">
                    <div class="title_pages col-lg-12 col-md-12 col-sm-12 col-xs-12">Produtos - <strong>Listando todos</strong></div>
                    <!--LOOP-->
                    <div ng-repeat="prod in produtos" class="listagem_elementos listcomimagem col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="imageinfo col-lg-1 col-md-1">
                            <img ng-src="{{'data:image/png;base64,'+prod.imagem.base64}}" class="img-responsive" alt="">
                        </div>
                        <div class="textinfo col-lg-6 col-md-6">{{prod.nome}}</div>
                        <div class="textinfo col-lg-3 col-md-3"><strong>R$ {{prod.valor}}</strong></div>
                        <div class="botacoes col-lg-2 col-md-2">
                            <a ng-click="editar()" class="editar"></a>
                            <a ng-click="" class="deletar"></a>
                        </div>
                    </div>
                    <!--LOOP-->
                </div>

                <div ng-show="estado.inserir">
                    <div class="title_pages col-lg-12 col-md-12 col-sm-12 col-xs-12">Produtos - <strong>Inserir novo</strong></div>
                    <form  class="form_acoes col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-submit="salvar(produto)">
                        <label class="col-lg-12 col-md-12">
                            <span>Nome do produto:</span>
                            <input type="text" ng-model="produto.nome" class="inpttxt_form radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12" required="required">
                        </label>

                        <label class="col-lg-6 col-md-6 paddright">
                            <span>Valor do produto <strong>R$</strong>:</span>
                            <input type="text" ng-model="produto.valor" class="inpttxt_form radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12" required="required">
                        </label>

                        <label class="col-lg-6 col-md-6 paddleft">
                            <span>Imagem do produto:</span>
                            <input type="file" ng-model="produto.imagem" class="inpttxt_form radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12" required="required" base-sixty-four-input>
                        </label>

                        <div class="bot_sendform col-lg-12 col-md-12">
                            <input type="submit"   class="radius5 send_form" value="CADASTRAR" />
                        </div>

                    </form>
                </div>

                <div ng-show="estado.editar">
                    <div class="title_pages col-lg-12 col-md-12 col-sm-12 col-xs-12">Usuários - <strong>Editar usuário</strong></div>
                    <form action="" method="post" name="form_acoes" id="form_acoes" class="form_acoes col-lg-12 col-md-12 col-sm-12 col-xs-12" enctype="multipart/form-data">
                        <label class="col-lg-12 col-md-12">
                            <span>Nome do produto:</span>
                            <input type="text" name="nome" class="inpttxt_form radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12" required="required">
                        </label>

                        <label class="col-lg-6 col-md-6 paddright">
                            <span>Valor do produto <strong>R$</strong>:</span>
                            <input type="text" name="valor_produto" id="valor_produto" class="inpttxt_form radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12" required="required">
                        </label>

                        <label class="col-lg-6 col-md-6 paddleft">
                            <span>Imagem do produto:</span>
                            <input type="file" name="imagem_produto" id="imagem_produto" class="inpttxt_form radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12" required="required">
                        </label>

                        <input type="hidden" name="imagem_atual" id="imagem_atual" value="IMAGEM ATUAL AQUI">

                        <div class="bot_sendform col-lg-12 col-md-12">
                            <input type="submit" name="send_form" class="radius5 send_form" id="send_form" value="ATUALIZAR" />
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>