<div class="dems_paginas" ng-init="inicial()">
    <div class="container">
        <div class="row">   
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="bots_returns_pgs col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a href="#/home" class="radius5">PÁGINA INICIAL</a>
                    <a ng-click="inicial()" class="radius5">LISTAR TODOS</a>
                    <a ng-click="inserir()" class="radius5">INSERIR NOVO</a>
                </div>
                
                <div ng-show="estado.listar">
                    <div class="title_pages col-lg-12 col-md-12 col-sm-12 col-xs-12">Produtos - <strong>Listando todos</strong></div>
                    <!--LOOP-->
                    <div ng-repeat="prod in produtos" class="listagem_elementos listcomimagem col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="imageinfo col-lg-1 col-md-1">

                            <img ng-src="{{prod.foto_produto}}" class="img-responsive" alt="">                            

                        </div>
                        <div class="textinfo col-lg-6 col-md-6">{{prod.nome_produto}}</div>
                        <div class="textinfo col-lg-3 col-md-3"><strong>R$ {{prod.valor_produto}}</strong></div>
                        <div class="botacoes col-lg-2 col-md-2">
                            <a ng-click="editar(prod)" class="editar"></a>
                            <a ng-click="apagar(prod)" class="deletar"></a>
                        </div>
                    </div>
                    <!--LOOP-->
                    <h1 ng-hide="produtos.length" class="aviso">Carregando...</h1>

                </div>

                <div ng-show="estado.inserir">
                    <div class="title_pages col-lg-12 col-md-12 col-sm-12 col-xs-12">Produtos - <strong>Inserir novo</strong></div>
                    <form  class="form_acoes col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-submit="salvar(produto)">
                        <label class="col-lg-12 col-md-12">
                            <span>Nome do produto:</span>
                            <input type="text" ng-model="produto.nome_produto" class="inpttxt_form radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12" required="required">
                        </label>

                        <label class="col-lg-6 col-md-6 paddright">
                            <span>Valor do produto <strong>R$</strong>:</span>
                            <input type="text" ng-model="produto.valor_produto" class="inpttxt_form radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12" required="required">
                        </label>

                        <label class="col-lg-6 col-md-6 paddleft">
                            <span>Imagem do produto:</span>
                            <input type="text" ng-model="produto.foto_produto" class="inpttxt_form radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        </label>

                        <div class="bot_sendform col-lg-12 col-md-12">
                            <input type="submit"  class="radius5 send_form" value="CADASTRAR" />
                        </div>

                    </form>
                </div>

                <div ng-show="estado.editar">
                    <div class="title_pages col-lg-12 col-md-12 col-sm-12 col-xs-12">Produtos - <strong>Editar novo</strong></div>
                    <form  class="form_acoes col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-submit="salvar(produto)">
                        <label class="col-lg-12 col-md-12">
                            <span>Nome do produto:</span>
                            <input type="text" ng-model="produto.nome_produto" class="inpttxt_form radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12" required="required">
                        </label>

                        <label class="col-lg-6 col-md-6 paddright">
                            <span>Valor do produto <strong>R$</strong>:</span>
                            <input type="text" ng-model="produto.valor_produto" class="inpttxt_form radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12" required="required">
                        </label>

                        <label class="col-lg-6 col-md-6 paddleft">
                            <span>Imagem do produto:</span>
                            <input type="text" ng-model="produto.foto_produto" class="inpttxt_form radius5 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        </label>

                        <div class="bot_sendform col-lg-12 col-md-12">
                            <input type="submit"   class="radius5 send_form" value="CADASTRAR" />
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>